<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-storage-cloud-frontend-heading" jhiTranslate="eoloTestApp.storageCloud.home.createOrEditLabel">Create or edit a Storage Cloud</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.storageCloud.idUtente" for="field_idUtente">Id Utente</label>
                    <input type="number" class="form-control" name="idUtente" id="field_idUtente"
                           formControlName="idUtente"/>
                    <div *ngIf="editForm.get('idUtente')!.invalid && (editForm.get('idUtente')!.dirty || editForm.get('idUtente')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idUtente')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idUtente')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.storageCloud.idLicenza" for="field_idLicenza">Id Licenza</label>
                    <input type="number" class="form-control" name="idLicenza" id="field_idLicenza"
                           formControlName="idLicenza"/>
                    <div *ngIf="editForm.get('idLicenza')!.invalid && (editForm.get('idLicenza')!.dirty || editForm.get('idLicenza')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idLicenza')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idLicenza')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.storageCloud.pianoBase" for="field_pianoBase">Piano Base</label>
                    <input type="text" class="form-control" name="pianoBase" id="field_pianoBase"
                           formControlName="pianoBase"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.storageCloud.dataCessione" for="field_dataCessione">Data Cessione</label>
                    <div class="input-group">
                        <input id="field_dataCessione" type="text" class="form-control" name="dataCessione" ngbDatepicker #dataCessioneDp="ngbDatepicker" formControlName="dataCessione"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataCessioneDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
