<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-invito-frontend-heading" jhiTranslate="eoloTestApp.invito.home.createOrEditLabel">Create or edit a Invito</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.invito.utenteIscritto" for="field_utenteIscritto">Utente Iscritto</label>
                    <input type="checkbox" class="form-control" name="utenteIscritto" id="field_utenteIscritto"
                           formControlName="utenteIscritto"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.invito.idUtente" for="field_idUtente">Id Utente</label>
                    <input type="number" class="form-control" name="idUtente" id="field_idUtente"
                           formControlName="idUtente"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.invito.idPratica" for="field_idPratica">Id Pratica</label>
                    <input type="number" class="form-control" name="idPratica" id="field_idPratica"
                           formControlName="idPratica"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.invito.idInvito" for="field_idInvito">Id Invito</label>
                    <input type="number" class="form-control" name="idInvito" id="field_idInvito"
                           formControlName="idInvito"/>
                    <div *ngIf="editForm.get('idInvito')!.invalid && (editForm.get('idInvito')!.dirty || editForm.get('idInvito')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idInvito')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idInvito')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.invito.collaboratore" for="field_collaboratore">Collaboratore</label>
                    <select class="form-control" id="field_collaboratore" name="collaboratore" formControlName="collaboratoreId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="collaboratoreOption.id" *ngFor="let collaboratoreOption of collaboratores; trackBy: trackById">{{ collaboratoreOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.invito.cliente" for="field_cliente">Cliente</label>
                    <select class="form-control" id="field_cliente" name="cliente" formControlName="clienteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="clienteOption.id" *ngFor="let clienteOption of clientes; trackBy: trackById">{{ clienteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
