<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-pratica-frontend-heading" jhiTranslate="eoloTestApp.pratica.home.createOrEditLabel">Create or edit a Pratica</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.pratica.idPratica" for="field_idPratica">Id Pratica</label>
                    <input type="number" class="form-control" name="idPratica" id="field_idPratica"
                           formControlName="idPratica"/>
                    <div *ngIf="editForm.get('idPratica')!.invalid && (editForm.get('idPratica')!.dirty || editForm.get('idPratica')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idPratica')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idPratica')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.pratica.idLic" for="field_idLic">Id Lic</label>
                    <input type="number" class="form-control" name="idLic" id="field_idLic"
                           formControlName="idLic"/>
                    <div *ngIf="editForm.get('idLic')!.invalid && (editForm.get('idLic')!.dirty || editForm.get('idLic')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idLic')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idLic')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.pratica.tdp" for="field_tdp">Tdp</label>
                    <input type="number" class="form-control" name="tdp" id="field_tdp"
                           formControlName="tdp"/>
                    <div *ngIf="editForm.get('tdp')!.invalid && (editForm.get('tdp')!.dirty || editForm.get('tdp')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tdp')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('tdp')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.pratica.idCollab" for="field_idCollab">Id Collab</label>
                    <input type="number" class="form-control" name="idCollab" id="field_idCollab"
                           formControlName="idCollab"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.pratica.idClient" for="field_idClient">Id Client</label>
                    <input type="number" class="form-control" name="idClient" id="field_idClient"
                           formControlName="idClient"/>
                    <div *ngIf="editForm.get('idClient')!.invalid && (editForm.get('idClient')!.dirty || editForm.get('idClient')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('idClient')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('idClient')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="eoloTestApp.pratica.licenza" for="field_licenza">Licenza</label>
                    <select class="form-control" id="field_licenza" name="licenza" formControlName="licenzaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="licenzaOption.id" *ngFor="let licenzaOption of licenzas; trackBy: trackById">{{ licenzaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
